fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
pydantic
pydantic-settings
python-jose[cryptography]
passlib[bcrypt]>=1.7.4
bcrypt>=4.0.1,<5.0.0
python-multipart
chromadb
langchain
langchain-openai
langchain-core
langgraph
openai
python-dotenv
email-validator
--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.5.1+cpu
sentence-transformers
langchain-chroma
langchain-huggingface
langchain-text-splitters